
.load_grid {
  z-index: 100;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
  grid-auto-rows: 100px; /* Adjust height as needed */
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.load_grid{
  display: grid;
}

.load_grid-item {
  background-color: #4f26e9;
  width: 100%;
  height: 100%;
}


  .image-hover {
    display: block;
    color: white;
    padding: 2em 2em 1em 2em;
    transform-origin: top left;
    animation: skwoop 0.7s var(--easing) backwards;
    animation-duration: calc(0.6s + (var(--i) * 0.2s));
    animation-delay: calc((var(--i) * 50ms));
    cursor:none;

  
    @keyframes skwoop {
      from {
        opacity: 0;
        transform: translateY(5vh) skewY(5deg);
      }
    }
  
    img {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 50%;
      max-height: 40vh;
      pointer-events: none;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s linear, visibility 0s linear 0.5s;
      border-radius: 5px;
    }
  
    &:hover,
    &:focus {
      z-index: 10;
      .title::after {
        display: block;
      
      }
  
      img {
        transition-delay: 0s;
        visibility: visible;
        opacity: 1;
      }
    }
  }

.projectcontainer p{
    font-size: 14px;
    text-transform: uppercase;
    line-height: 100%;
}


.projectcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9rem;
    padding-left: 2.4rem;
    z-index: 1;

}

.projects {
    width: 110%;
    display: flex;
    flex-direction: column;
    padding-right: 15rem;
}

.project{
    width: 100%;
    padding: 2.5em 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.project > div {
    flex: 3;
}

.project div:last-child{
    flex: 1;
}



.image-visible {
    opacity: 1;
    transition: opacity 20s ease;
  }
  
  .image-hidden {
    opacity: 0;
    transition: opacity 20s ease;
  }
  
  .btn-23,
  .btn-23 *,
  .btn-23 :after,
  .btn-23 :before,
  .btn-23:after,
  .btn-23:before {
    box-sizing: border-box;
  }

  .btn-23:hover .text {
    opacity: 1;
  }
  

  .btn-23 {
    background-color: transparent;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;  }
  
  .btn-23 span {
    display: grid;
    inset: 0;
    place-items: center;
    position: absolute;
    transition: opacity 0.2s ease;
    white-space: nowrap; /* Ensure text stays in one line */
  }
  
  .btn-23:hover .marquee {
    animation-play-state: running;
  }

  a {
    transition: background-color 0.3s ease-in-out; /* Add transition effect to all anchor tags */
}

.btn-23:hover {
    background-color: #FF66CC; /* Change background color on hover */
}

  
@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }
  100% {
    transform: translateX(140%);
  }
  }
  
  .btn-23 .marquee {
    --spacing: 10em;
    --start: 0em;
    animation: marquee 4s linear infinite paused; /* Added 'paused' */
    opacity: 1;
    position: relative;
  }


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 417%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
    pointer-events: none;
    transition: visibility 0s, opacity 0.5s ease-in-out;
  }
  
  .overlay.visible {
    visibility: visible;
    z-index: 1;
  }
  
  .on-top {
    z-index: 3;
  }

  .project {
    z-index: 2; /* Base z-index for projects */
  }
  
  .project.on-top {
    z-index: 3; /* Higher z-index for the hovered project */
  }
  
