.swiper {
    width: 540px;
    height: 400px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .expat1 {
    background-image: url("/expat_thumb01.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }
  
  .expat2 {
    background-image: url("/expat_thumb02.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }
  
  .expat3 {
    background-image: url("/expat_thumb03.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }

  